{% extends "admin/base_site.html" %}
{% load i18n static %}
{% block extrastyle %}
    {{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.csss" %}">
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}
<div id="content-main">
  {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related" class="bg-gray-900 mt-6 md:mt-16 p-2">
    <div class="module" id="recent-actions-module">
        <h2 class="text-lg font-heads uppercase font-semibold text-sky-400 pb-2 mb-2 border-b-2 border-dashed border-gray-600">
            {% translate 'Recent actions' %}
        </h2>
        <h3 class="bg-green-700 text-white rounded-lg py-1 px-3 mb-2 font-heads font-semibold">
            <i class="bi bi-activity pr-2 font-bold"></i>{% translate 'My Activity' %}
        </h3>
        {% load log %}
        {% get_admin_log 10 as admin_log for_user user %}
        {% if not admin_log %}
            <p>{% translate 'None available' %}</p>
        {% else %}
            <ul class="actionlist pl-1">
                {% for entry in admin_log %}
                    <li class="z-20 font-heads activityLink {% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                        {% if entry.is_deletion or not entry.get_admin_url %}
                            {{ entry.object_repr }}
                        {% else %}
                            <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                        {% endif %}
                        <br>
                        {% if entry.content_type %}
                            <span class="text-xs mini quiet">{% filter capfirst %}{{ entry.content_type.name }}{% endfilter %}</span>
                        {% else %}
                            <span class="text-xs mini quiet">{% translate 'Unknown content' %}</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
